
body{
	width:800px ;
	background-color: #BFA9A5;
	font-family: helvetica, sans-serif;
}

#global{
	width: 400px;
	background-color:#BFA9A5;
	margin: 0% 50%;
}
	
#one {
	width:200px;
	height: 100px;
	float: left;
	background-color:#B3B0CA;

}
#two {
	width:200px;
	height: 100px;
	float: right;
	background-color:#B3B0CA;
	
}
#three {
	width:400px;
	height: 200px;
	background-color: #e3e3e3; 
	clear: both;
	
}
#result {
	

}